:root {
    --primary-fg: #928374;
    --primary-bg: #151515;
    --secondary-fg: #d79921;
    --secondary-bg: #303030;
    --code-bg: #282828;
}

html, body {
    background: var(--primary-bg);
    color: var(--primary-fg);
    margin: 0;
    box-sizing: border-box;
    height: 100%;

    ::selection {
        background: var(--primary-fg);
        color: var(--primary-bg);
    }

    &.post {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

body {
    min-height: 100vh;
    padding: 1rem;
}

svg {
    fill: var(--primary-fg);
}

.center {
    display: flex;
    text-align: center;
    justify-content: center;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    min-height: calc(100vh - 2rem);
}

main {
    flex: 1;
    border: solid 1px var(--secondary-bg);
    padding: 1rem;
    border-radius: 5px;
}

nav {
    width: 100%;

    li {
        list-style: none;
    }
}

#main-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    width: 100%;
    padding: 0;

    .active {
        text-decoration: underline;
        color: #d79921;
    }
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    display: flex;

    &:hover {
        color: var(--secondary-fg);
    }
}

p {
    margin: 0 0 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.75rem;
}

.ascii {
    display: flex;
    justify-content: center;
    font-size: clamp(4px, 1vw, .75rem);
}

pre:not(.ascii) {
    padding: 1rem;
    border: solid 1px var(--secondary-bg);
    border-radius: 5px;
    position: relative;

    &:hover {
        border-color: var(--primary-fg);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

        & > .copy-button {
            display: block;
        }
    }

    ::selection {
        background: var(--primary-bg);
        color: inherit;
    }

    .copy-button {
        position: absolute;
        display: none;
        top: 0.5rem;
        right: 0.5rem;
        border: solid 1px var(--primary-fg);
        border-radius: 5px;
        padding: .5rem;
        color: var(--primary-fg);
        background: var(--code-bg);
        cursor: pointer;

        &.copied {
            background: var(--secondary-fg);
            color: var(--primary-bg);
        }

    }


}

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    align-items: center;
    gap: 1rem;
}
