{{define "content"}}
<pre class="ascii">
███████╗ █████╗ ███╗   ██╗██████╗ ██╗   ██╗██████╗ ██████╗ ██╗██████╗  ██████╗ ███████╗
██╔════╝██╔══██╗████╗  ██║██╔══██╗╚██╗ ██╔╝██╔══██╗██╔══██╗██║██╔══██╗██╔════╝ ██╔════╝
███████╗███████║██╔██╗ ██║██║  ██║ ╚████╔╝ ██████╔╝██████╔╝██║██║  ██║██║  ███╗█████╗
╚════██║██╔══██║██║╚██╗██║██║  ██║  ╚██╔╝  ██╔══██╗██╔══██╗██║██║  ██║██║   ██║██╔══╝
███████║██║  ██║██║ ╚████║██████╔╝   ██║   ██████╔╝██║  ██║██║██████╔╝╚██████╔╝███████╗
╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═════╝    ╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝╚═════╝  ╚═════╝ ╚══════╝
</pre>
<h1>Hello. My name is Matt.</h1>
<p>I'm a software engineer with a knack for front-end development. My thing? Crafting and enhancing website interfaces to make them look great and work even better. I've got a solid history of knocking projects out of the park, on schedule and within budget. Problem-solving and teamwork? They're in my wheelhouse, helping me deliver top-notch results every time.</p>

<p>I started my journey in web development by building WordPress websites for clients. Since then, I've expanded my skills to include systems engineering and design, development of command-line interfaces (CLIs), and advanced front-end techniques. My focus has been on deepening my understanding of the web's underlying systems and leveraging that knowledge to create more efficient and powerful tools and applications.</p>

{{end}}

